
/*INDEX*/

/* Yleinen nollaus */ 

  *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }


/* Tekstityylit */
  body, html {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('kuvat/vesisadepelto.jpg');  /* Kuva taustaksi */
    background-size: cover;            /* Kuvan skaalaus niin, että se täyttää taustan */
    background-position: center;       /* Kuva keskitetään */
    background-attachment: fixed;
  }

  body.no-scroll {
    overflow: hidden;
    height: 100vh;
  }

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  padding: 1rem;
  padding-top: 10px;
  padding-bottom: 150px;
  flex-wrap: wrap; /* responsiivisuuden vuoksi */
}

.text-content {
  flex: 2;
  min-width: 300px;
  background-color: rgba(197, 197, 196, 0.542);
  padding: 50px;
  padding-top: 10px;
  border-radius: 10px;
  backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(3px);
  
}

.map-box {
  flex: 1;
  min-width: 300px;
  background: rgba(197, 197, 196, 0.542);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.70);
  backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(3px);
}

.map-box iframe {
  width: 100%;
  height: 300px;
  border: 0;
}

  main p {
    margin-bottom: 0;
  }
  main {
    justify-content: center;    /* Lisätty, keskittää sisällön vaakasuunnassa */
    align-items: center;        /* Lisätty, keskittää sisällön pystysuunnassa */
    padding: 20px;
    padding-top: 20px;
    text-align: center;         /* Lisätty, keskittää tekstin sisällön */
    z-index: 1; /* Varmistaa, että teksti on kuvan päällä */
   
  }

  /* Header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e3d2f;
    padding: 20px 20px 10px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0.2);
    width: 100%;
  }


  /* Footer */
  footer {
    background-color: #1e3d2f;  /* Sama vihreä tausta kuin headerissä */
    color: white;  /* Tekstin väri valkoinen */
    padding: 20px 0;  /* Padding ylhäältä ja alhaalta */
    text-align: center;  /* Teksti keskelle */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);  /* Tekstille varjo, jotta se erottuu paremmin */
    font-size: 20px;
    font-family: "Bangers", system-ui;
    font-weight: normal;
    font-style: normal;
    position:fixed;
    bottom: 0px;
    width: 100%;
    z-index: 2; /* Varmistaa, että footer tulee kuvan päälle */
}

footer p {
    margin: 0;  /* Poistetaan margin, ettei ala- ja yläpuolella ole turhaa tilaa */
    margin-right: 0;
}

footer span {
    font-weight: normal;  
    font-size: 20px;  
    text-shadow: none;  
    color: #fff;  
}
  
/* Sivun otsikko */
  h1.site-title {
    color: rgb(243, 243, 243);
    font-size: 40px;
    font-weight: 400;
    margin-right: 20px;
    margin-bottom: 10px;
    font-family: "Bangers", system-ui;
    font-style: normal;
  }

  h2 {
    padding: 20px;
  }
  
  /* Navigaatio */
  nav {
    background: #1e3d2f;
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  nav ul {
    margin-left: auto;
    margin-right: auto;
    display: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1e3d2f;
    padding: 10px 0;
    z-index: 1000;
    position: fixed;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 5px;
  }
  
  nav ul li a {
    color: white;
    font-size: 16px;
    padding: 7px 13px;
    text-transform: uppercase;
  }
  
  a.active,
  a:hover {
    background: #64962b;
    border-radius: 5px;
  }

/* Hamburger-valikko ja responsiivisuus */
  #check, .checkbtn {
  display: none; 
}

.text-box {
  background-color: rgba(197, 197, 196, 0.542);
  padding: 2rem;
  max-width: 50%;
  margin: 2rem;
  border-radius: 8px;
}

.image-container img{

  width: 100%;
  max-width: 350px;
  height: auto;
  vertical-align: middle;
  margin-left: 1rem;
}

.image-container{

  margin-left: 1rem;
  margin-top: 1rem;
}

  
  /* Media query pienemmille näytöille */
  @media (max-width: 768px) {


    main,
    footer {
    z-index: 0;
    
  }

  main {
    padding-bottom: 1rem;
  }

    body.no-scroll {
    overflow: hidden;
    height: 100vh;
  }


    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #1e3d2f;
      padding: 6px 16px;
      position: relative;
      z-index: 20;
      flex-wrap: wrap;
    }

    .site-title {
      font-size: 20px;        /* Pienempi fonttikoko mobiilissa */
      max-width: 70%;         /* Varmistaa että otsikko ei vie koko riviä */
      white-space: nowrap;  /* Estää rivinvaihdon */
      margin: 0;
    }

    nav ul {
      display: none;
      width: 100%;
      height: calc(100vh - 60px);
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #1e3d2f;
      position: fixed;
      top: 60px;
      left: 0;
      right: 0;
      padding: 10px 0;
      z-index: 15;
      overflow-y: auto;
    }
      /* Kun checkbox on valittu, näkyy navigaatio */
      #check:checked + .checkbtn + nav ul {
        display: flex;  /* Näyttää valikon, kun checkbox on valittu */
    }

    nav ul li {
        display: block;  /* Asettaa linkit pystysuoraan */
        margin: 20px 0;  /* Väli linkkien välillä */
    }

    nav ul li a {
        font-size: 22px;  /* Fonttikoko linkeille */
        padding: 10px 20px;  /* Lisää tilaa linkin ympärille */
        color: white;  /* Tekstin väri */
        text-transform: uppercase;  /* Tekstin suuret kirjaimet */
        display: block;  /* Varmistaa, että linkit vievät koko rivin */
    }

    /* Varmistaa, että linkit erottuvat, kun niitä viedään hiirellä */
    nav ul li a:hover {
        background-color: #64962b;  /* Taustaväri hover-tilassa */
        border-radius: 5px;  /* Pyöristetyt kulmat */
    }

    /* Tämä luo hamburger-valikon nappi */
    .checkbtn {
        display: block;  /* Näyttää nappi mobiililaitteilla */
        cursor: pointer;  /* Lisää käden osoittimen, kun napista klikataan */
        font-size: 30px;  /* Nappi on tarpeeksi suuri näkyville */
        color: white;  /* Nappi on valkoinen */
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 21;
    }

    /* Tietokoneversiossa voidaan piilottaa tämä */
    #check {
        display: none;  /* Piilottaa checkboxin */
    }

    .image-container img{

      width: 100%;
      max-width: 350px;
      height: auto;
      vertical-align: middle;
      margin: 1rem;
    }

    .image-container{
      padding-right: 3rem;
    }
    .text-content{
      padding: 10px;

    }
    .content-container {
      padding-bottom: 150px;
    }
  }



  /*Isoille näytöille*/
    @media (min-width: 769px) {
      nav ul {
        display: flex;
        position: static;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        background: none;
        height: auto;
      }
    }
      /*Tämä Split Screenia varten*/
    @media (min-width: 700px) and (max-width: 1000px) {
      .content-container {
        padding-bottom: 150px;
      }
    }



  /*Isoille näytöille*/
    @media (min-width: 769px) {
      nav ul {
        display: flex;
        position: static;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        background: none;
        height: auto;
      }
    }
      /*Tämä Split Screenia varten*/
    @media (min-width: 700px) and (max-width: 1000px) {
      .content-container {
        padding-bottom: 150px;
      }
    }





